.error {
    color: red;
    font-size: 9pt;
}
.baselogin {
    color: white;
}
.login {
    color: greenyellow;
    font-size: 9pt;
    float: right;
}
.owner {
    font-size: 7pt;
}

.nav {
    font-size: 8pt;
}

h1 {
    text-align: center;
    color: white;
    margin: 5px;
}
form {
    background-color: #eee;
    color: darkslateblue;
    border-radius: 10pt;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
}
body{
    font-family: Verdana, sans-seriff;
    background-color: darkslateblue;
    color: darkslateblue;
}

.main {
    background-color: #eee;
    border-radius: 10pt;
    padding: 10px;
    margin: auto auto;
    color: darkslateblue;
}

.topmain {
    background-color: #eee;
    border-radius: 10pt;
    padding: 10px;
    width: 340px;
    margin: auto auto;
    text-align: center;
    color: darkslateblue;
}