{% extends "base.html" %}

{% block content %}

<h1>Blogz</h1>
<hr />

{% if posts|length == 0 %}
    <div class='topmain'>
    <p>No Posts! Create the first one <a href='./newpost'>here!</a></p>
    </div>
{% else %}
    {% for post in posts %}
    <div class='main'>
    <br />
    <h2><a href='./post?id={{post.id}}&user={{post.owner_id}}'>{{post.title}}</a></h2>
    <p>{{post.body}}</p>
    {% for user in users %}
        {% if user.id == post.owner_id %}
            <p class='owner'>Author: <a href='/user?user_id={{post.owner_id}}'>{{user.username}}</a></p>
        {% endif %}
    {% endfor %}
    <br />
    </div>
    <hr />
    {% endfor %}
{% endif %}

{% endblock %}